{% extends 'bootstrap/base.html' %}

{% block title %}
    MTA - Dashboard
{% endblock %}
{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='mta-logo.png') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='mta-logo.png') }}" alt="Logo" width="45" height="45" class="d-inline-block mr-2" style="margin-top:0px;float:left;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{ url_for('login') }">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
        <!-- Let's add a section to display the messages we save with flash() -->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
