<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - MTA Dashboard</title>
        {% endif %}
    </head>
    <body>
        <!-- We'll use a routing directive here similar to what angular has
            This part will describe a nav bar that we'll decorate later -->
        <div>
            MTA Dashboard 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- Let's add a section to display the messages we save with flash() -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
